# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyz
*.pyw
*.pyc
*.pyo
*.egg-info/
dist/
build/
log/code_list_batch.log
log/insert_ita.log
log/set_target_code.log

# Database
database.db

# Docker
postgres_data/

# Virtual environment
venv/

# .DS_Store files
.DS_Store

#excel
data_j.xls
