# 時刻とタイムゾーンの処理に関するパッケージ
pytz==2021.3

# コードの静的解析に関するパッケージ
flake8==3.9.2

# リクエスト
urllib3==1.25.11

# インタラクティブなコード実行とドキュメント作成に関するパッケージ
jupyter==1.0.0

# コードの自動整形に関するパッケージ
autopep8==1.5.7

# 数値計算や配列操作に関するパッケージ
numpy==1.25.1

# データ処理と分析に関するパッケージ
pandas==2.0.3

# Excelファイルの読み込みに関するパッケージ
xlrd==2.0.1

# 国民の休日や祝日に関する情報を提供するパッケージ
holidays==0.29

# 日本語の文字変換に関するパッケージ
jaconv==0.3.4

# HTMLとXMLの解析に関するパッケージ
beautifulsoup4==4.12.2
lxml==4.9.3
html5lib==1.1
